<?xml version="1.0"?>
<!--
/**
 *
 * MoedaDigital 
 *
 **/
-->
<config>
    <modules>
        <MoedaDigital>
            <version>1.0.0</version>
        </MoedaDigital>
    </modules>
    <global>
        <models>
            <moedadigital>
                <class>MoedaDigital_Model</class>
            </moedadigital>        
        </models>
        <resources>
            <moedadigital_setup>
                <setup>
                    <module>MoedaDigital</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moedadigital_setup>
            <moedadigital_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </moedadigital_write>
            <moedadigital_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </moedadigital_read>
        </resources>
        <blocks>
            <moedadigital>
                <class>MoedaDigital_Block</class>
            </moedadigital>
            <payment>
                <class>MoedaDigital_Block</class>
                <class>Mage_Payment_Block</class>
            </payment>
        </blocks>
        <helpers>
            <moedadigital>
                <class>MoedaDigital_Helper</class>
            </moedadigital>
        </helpers>
    </global>
    <frontend>      
        <routers>
            <moedadigital>
                <use>standard</use>
                <args>
                    <module>MoedaDigital</module>
                    <frontName>MoedaDigital</frontName>
                </args>
            </moedadigital>
        </routers>
        <translate>
            <modules>
                <moedadigital>
                    <files>
                        <default>moedadigital.csv</default>
                    </files>
                </moedadigital>
            </modules>
        </translate>
        <layout>
            <updates>
                <moedadigital>
                    <file>moedadigital.xml</file>
                </moedadigital>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <moedadigital_set_informations>
                        <type>model</type>
                        <class>MoedaDigital_Helper_Data</class>
                        <method>setPosInformations</method>
                    </moedadigital_set_informations>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <moedadigital>
                    <files>
                        <default>moedadigital.csv</default>
                    </files>
                </moedadigital>
            </modules>
        </translate>        
    </adminhtml>
    <default>
        <payment>
            <moedadigital_standard>
                <model>MoedaDigital_Model_Standard</model>
                <title>MoedaDigital</title>
                <allowspecific>0</allowspecific>                  
            </moedadigital_standard>
        </payment>
    </default>
</config>
